body{
    font-family: 'Amatic SC', cursive;
}

#container{
    display: grid;
    grid-template-rows: auto auto auto auto auto auto;
    grid-template-columns: auto auto auto auto;
    justify-content: center;
    place-content: center;
    grid-column-gap: 0.5rem;
    grid-row-gap: 0.5rem;
}

.container{
    text-align: center;
}

.title{
    font-size: 3rem;
}

.buttons{
    padding: 1.6rem;
    font-size: 1.5rem;
    border: 0;
    border-radius: 1rem;
    font-family: 'Cuprum', sans-serif;
}

.buttons:hover{
    cursor: pointer;
}

.operands{
    background-color: #dbd5d5;
}

.equal{
    background-color: #47a6ff;
}

.numbers{
    background-color: #f0f0f0;
}

.result{
    border-radius: 1rem;
    background-color: #f0f0f0;
    grid-column: 1 / 5;
    margin: 0;
    font-size: 3rem;
}


